// variables
@import "./variables";
@import "./mixins";

// globals
@import "./keyframes";
@import "./normalize";
@import "./reset";
@import "./global";
@import "./modifier";

.app {
	background-color: $white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

.app-header {
	position: relative;
	width: 100%;
	z-index: 8;

	&-inner {
		@include wrapper-xy($width-max, 0.5 1 0);

		.logo {
			height: 128px;
			width: 128px;
		}
	}
}

.app-main {
	flex: 1 1 auto;
	position: relative;

	&-inner {
		height: 100%;
		padding-bottom: 48px;
		padding-top: 48px;
	}
}

.app-footer {
	background-color: $color-bg-dark;
	color: $white;
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	z-index: 4;

	&-inner {
		@include wrapper-xy($width-max, 1, center);
		padding-bottom: 24px;
		padding-top: 24px;
	}
}
