// variables
@import "./variables";
@import "./mixins";

// globals
@import "./keyframes";
@import "./normalize";
@import "./reset";
@import "./global";
@import "./modifier";

.App {
	background-color: $white;
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: min-content 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	position: relative;
	grid-template-areas:
		'head head'
		'main main'
		'side side'
		'foot foot';

	@include breakpoint(runner) {
		grid-template-areas:
			'side head'
			'side main'
			'side foot';
	}
}

.App-header {
	grid-area: head;
	position: relative;
	width: 100%;
	z-index: 8;

	&-inner {
		@include wrapper-xy($width-max, 0.5 1 0);

		.logo {
			height: 128px;
			width: 128px;
		}
	}
}

.App-main {
	grid-area: main;
	position: relative;

	&-inner {
		height: 100%;
		padding-bottom: 48px;
		padding-top: 48px;
	}
}

.App-aside {
	@include wrapper-xy(none, 0.5, left);
	background-color: $color-200;
	grid-area: side;

	@include breakpoint(runner) {
		width: $width-side;
	}
}

.App-footer {
	background-color: $color-bg-dark;
	color: $white;
	grid-area: foot;
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	z-index: 4;

	&-inner {
		@include wrapper-xy($width-max, 1, center);
		padding-bottom: 24px;
		padding-top: 24px;
	}
}
